.container {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.page-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.page-header > .page-title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8px;
}

.page-header > .page-action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
